<div class="container">
  <h1>LXD Detail</h1>
  <hr>
  <table>
    <tr>
      <td><h3>ID&nbsp;</h3></td>
      <td><h3> <%= @lxd.id %></h3><td>
    </tr>
    <tr>
      <td><h3>Name&nbsp;</h3></td>
      <td><h3> <%= @lxd.name %></h3><td>
    </tr>
    <tr>
      <td><h3>IP Address&nbsp;</h3></td>
      <td><h3> <%= @lxd.ip_address %></h3><td>
    </tr>
  </table>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">IP Address</th>
        <th scope="col">Container Port</th>
        <th scope="col">Image</th>
        <th scope="col">Status</th>
        <th scope="col">LXD Location</th>
        <th scope="col">Host Port</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody class="table-stripped">
      <% @lxcs.each do |lxc| %>
        <tr>
          <td id="lxc-id-<%= lxc.id %>"><%= lxc.id %></td>
          <td id="lxc-name-<%= lxc.id %>"><%= lxc.name %></td>
          <td id="lxc-ip-<%= lxc.id %>"><%= lxc.ip_address %></td>
          <td id="lxc-container-port-<%= lxc.id %>"><%= lxc.container_port %></td>
          <td id="lxc-image-<%= lxc.id %>"><%= lxc.image %></td>
          <td id="lxc-status-<%= lxc.id %>"><%= lxc.status %></td>
          <td id="lxc-<%= lxc.id %>-lxd"><%= lxc.lxd_id %></td>
          <td id="lxc-host-port-<%= lxc.id %>"><%= lxc.host_port %></td>
          <td>
            <% if lxc.status == "running" || lxc.status == "started" %>
              <button class="btn btn-danger stopLXC" data-id="<%= lxc.id %>" id="lxc-status-button-<%= lxc.id %>"><i class="fas fa-stop"></i></button>
            <% elsif lxc.status == "stopped" %>
              <button class="btn btn-primary startLXC" data-id="<%= lxc.id %>" id="lxc-status-button-<%= lxc.id %>"><i class="fas fa-play"></i></button>
            <% elsif lxc.status == "pending" %>
              <button class="btn btn-primary" disabled><i class="fas fa-play"></i></button>
            <% end %>
            <button class="btn btn-danger deleteLXC" data-id="<%= lxc.id %>" id="lxc-status-button-<%= lxc.id %>"><i class="fas fa-trash-alt"></i></button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
