<div class="container">
  <h1>LXD Detail</h1>
  <hr>
  <table>
    <tr>
      <td><h3>ID&nbsp;</h3></td>
      <td><h3> <%= @lxd.id %></h3><td>
    </tr>
    <tr>
      <td><h3>Name&nbsp;</h3></td>
      <td><h3> <%= @lxd.name %></h3><td>
    </tr>
    <tr>
      <td><h3>IP Address&nbsp;</h3></td>
      <td><h3> <%= @lxd.ip_address %></h3><td>
    </tr>
  </table>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">IP Address</th>
        <th scope="col">Image</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody class="table-stripped">
      <% @lxcs.each do |lxc| %>
        <tr>
          <td><%= lxc.id %></td>
          <td><%= lxc.name %></td>
          <td><%= lxc.ip_address %></td>
          <td><%= lxc.image %></td>
          <td><%= lxc.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
