<div class="container">
  <h1>LXD List</h1>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">IP Address</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody class="table-stripped">
      <% @lxds.each do |lxd| %>
        <tr>
          <td><%= lxd.id %></td>
          <td><%= lxd.name %></td>
          <td><%= lxd.ip_address %></td>
          <td><a href="<%= root_url %>/lxd/<%= lxd.id %>" class="btn btn-default" >Details</a></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
