<div class="container">
  <h1>LXC List</h1>
  <button class="btn btn-primary"><i class="fas fa-plus"></i>&nbsp;Add</button>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">IP Address</th>
        <th scope="col">Image</th>
        <th scope="col">Status</th>
        <th scope="col">LXD Location</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody class="table-stripped">
      <% @lxcs.each do |lxc| %>
        <tr>
          <td><%= lxc.id %></td>
          <td><%= lxc.name %></td>
          <td><%= lxc.ip_address %></td>
          <td><%= lxc.image %></td>
          <td><%= lxc.status %></td>
          <td><%= lxc.lxd_id %></td>
          <td>
            <% if lxc.status == "running" || lxc.status == "started" %>
              <button class="btn btn-danger"><i class="fas fa-stop"></i></button>
            <% elsif lxc.status == "stopped" %>
              <button class="btn btn-primary"><i class="fas fa-play"></i></button>
            <% elsif lxc.status == "pending" %>
              <button class="btn btn-primary" disabled><i class="fas fa-play"></i></button>
            <% end %>
            <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
